.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s ease-in-out;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.privacy {
  position: fixed !important;
  bottom: 50px;
  left: 50px;
}
